.text-center {
  text-align: center;
  margin: 10px 0;
}

.app-container {
  padding: 0 10%;
  height: 100vh;
}

.item-card{
  margin-bottom: 20px;
  padding: 20px;
  border: 1px #142041 solid;
  border-radius: 10px;
}

.fluid>div{
  width: 100%;
}

.fluid>div>div{
  width: 100% !important;
}

.fluid{
  width: 100%;
}

.rs-table-body-row-wrapper {
  height: 1000px;
}

.loginReg {
  padding: 50px 50px 0 50px;
}

.loginRegForma {
  padding: 0 50px 0 50px;
}